.container{
    max-width: 1200px;
    margin: auto;        
}

.content{
    border: 1px solid brown;
    margin: 10px;
    
}

.photo{
    width:100%;
    padding: 10px;
    box-sizing: border-box;
}

.caption{
    color:brown;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}

h3{
    color: #613030;
    font-size: 30px;
}

p:first-letter{
    font-size : 200%;}

@media screen and (min-width: 1200px){
    .content {
        display:flex;
    }
    .photo{
        width:50%;        
    }
    .caption{
        width:50%;        
    }

    .content:nth-child(even) .photo{
        order: 1;
    }
}