.container {
    width: 1440px;
    margin: 200px auto;
}
.grey {
    width: 350px;
    height: 250px;
    background-color: #bbb;
    /* margin: 0 auto; */
    position: relative;
    left: 750px;
    top: 180px;
}



.wrap-all {
    width: 100%;
}

.wrap-all .pic {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}



.what {
    width: 330px;
}
.what .wrap {
    display: flex;
    background-color: #d00;
    color: #fff;
}
.wrap .reverse {
    writing-mode: vertical-rl;
    font-size: 120px;
}
.wrap .center {
    margin: auto;
}
.wrap h1 {
    font-size: 50px;
}
.wrap2 {
    background-color: #000;
    color: #fff;
}
.wrap2 h2 {
    font-size: 28px;
    padding: 20px 10px;
}
.wrap2 p {
    font-size: 24px;
    padding: 0 10px 10px 10px;
}




.icon {
    width: 60px;
    height: 40px;
    background-color: #c00;
}
.icon .box {
    width: 0;
    height: 0;
    border-left: 20px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin: auto;
    position: relative;
    top: 10px;
    left: 3px;
}



.why {
    width: 600px;
    background-color: #ddd;
    padding: 20px;
}
.why .wrap3 {
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.why .wrap3::after {
    content: "";
    width: 0px;
    height: 1px;
    background-color: #f00;
    flex-grow: 1;
    margin: 0 5px;
}
.why .wrap4 h4 {
    width: 100px;
    background-color: #000;
    color: #fff;
    padding: 3px 5px;
    margin: 5px 0;
    text-align: center;
}

.pos-one {
    position: absolute;
    top: -120px;
    left: -165px;
}
.pos-two {
    position: absolute;
    top: 50%;
    right: -10px;
}
.pos-three {
    position: absolute;
    bottom: -200px;
    left: -150px;
}
.pos-four {
    position: absolute;
    top: -120px;
    right: -165px;
}
.pos-five {
    position: absolute;
    top: 50%;
    left: -10px;
}
.pos-six {
    position: absolute;
    bottom: -200px;
    right: -300px;
}
.wrap-all .pic2 {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    right: 200px;
}